<div class="jumbotron">
    <h2>ASP.NET</h2>
    <p class="lead">Upload utility tool.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="form1" method="post" action="api/docfile" enctype="multipart/form-data">
            <div class="row">
                <label>
                    Browse File
                </label>
            </div>
            <div class="row">
                <input class="col-md-4 input-sm text-left" name="myFile" type="file" />
                <div class="col-md-4">
                    <input class="text-left btn btn-primary btn-sm" type="submit" value="Upload" />
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </form>
    </div>
</div>
